
.disk {
    border-radius: 50%;
    height: 30px;
    width: 30px;

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    border: 1px solid red;
    width: 30px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}

.line {
    border: 1px solid red;
    width: 30px;
    height: 30%;

}